.body {
  background-image: url(https://img.freepik.com/vector-premium/paisaje-fondo-dibujos-animados-casa-montanas_703869-85.jpg?w=2000);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  box-sizing: border-box;
  height: 120vh;
}

.pokemonContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.navBar {
  background-color: #202741fb;
  padding-bottom: 20px;
  position: fixed;
  width: 100%;
  box-shadow: 2px 5px 10px #000;
}
